<!DOCTYPE html>
<html lang="en">
  <head>
     <title>Kidemais Admin - Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="dash-header__logo" href="/index" style="padding: 10px;">KIDEMAIS</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" style="padding: 10px;" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <!--Notification Menu-->
        <li class="" style="padding: 10px;">
          <label class="app-nav__item" style="font-size: 15px">Olá <%= nome %> <%= sobrenome %>, seja bem vindo</label>
        </li>
        <!-- User Menu-->
        <li class="dropdown" style="padding: 10px;"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fas fa-user-circle fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="btn dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Configurações</a></li>
            <li><a class=" btn dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Perfil</a></li>
            <form action="/logoff" method="POST">
                <li><button class="btn dropdown-item" type="submit"><i class="fas fa-sign-out-alt fa-lg"></i> Sair</button></li>            
            </form>
            
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar" style="padding-top: 70px;">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/img/logo.svg" alt="User Image">
         
        </div>
      <ul class="app-menu">
        <li><a class="app-menu__item active" href="/dashboard"><i class="app-menu__icon fa fa-home fa-lg"></i><span class="app-menu__label">Tela Incial</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview" ><i class="app-menu__icon far fa-calendar-alt fa-lg" aria-hidden="true"></i><span class="app-menu__label">Eventos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/eventos/cadastroEvento"><i class="icon far fa-calendar-plus fa-lg" aria-hidden="true"></i> Cadastrar novo evento</a></li>
            <li><a class="treeview-item" href="/eventos"><i class="icon fas fa-list-ol" aria-hidden="true"></i> Lista de eventos</a></li>
            <li><a class="treeview-item" href="ui-cards.html"><i class="icon fas fa-users fa-lg"></i>Lista geral de usuários cadastrados</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview" ><i class="app-menu__icon fas fa-door-open fa-lg" aria-hidden="true"></i><span class="app-menu__label">Salas</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/salas/cadastroSala"><i class="icon far fa-plus-square" aria-hidden="true"></i> Cadastrar nova sala</a></li>
            <li><a class="treeview-item" href="/salas"><i class="icon fas fa-list-ol" aria-hidden="true"></i> Lista de salas</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" href="/graficos"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Gráficos</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fab fa-blogger fa-lg"></i><span class="app-menu__label">Blog</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="form-components.html"><i class="icon far fa-newspaper fa-lg"></i> Notícias</a></li>
            <li><a class="treeview-item" href="form-custom.html"><i class="icon fas fa-globe fa-lg"></i> Novidades</a></li>
          </ul>
        </li> 
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title" >
        <div>
          <h1 style="margin-top: 30px;"><i class="fa fa-home"></i> <%= title%></h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <div class="tile-title-w-btn" style="text-align: right; margin-top: 15px">
              <p><button class="btn btn-danger" style="color: white"></i>Sair</button></p>
            </div>  
      </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Users</h4>
              <p><b><%=usuario%></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fas fa-thumbs-up fa-3x"></i>
            <div class="info">
              <h4>Curtidas</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              
              <h4>Posts</h4>
              <p><b><%=post%></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon far fa-calendar-alt fa-3x"></i>
            <div class="info">
              <h4>Eventos</h4>
              <p><b><%=doc%></b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Envolvimento Sites</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartSites"></canvas>
            </div>
            <div class="tile-footer" style="text-align: center">
                <span class="badge badge-success" style="background-color: #59d173;font-size: 15px;">Eventos Disponíveis</span>
                <span class="badge badge-danger" style="background-color: #F7464A;font-size: 15px;">Eventos Encerrados</span>
            </div>
          </div>
        </div>

       <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Envolvimento Eventos</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
            <div class="tile-footer" style="text-align: center">
                <span class="badge badge-success" style="background-color: #59d173;font-size: 15px;">Eventos Disponíveis</span>
                <span class="badge badge-danger" style="background-color: #F7464A;font-size: 15px;">Eventos Encerrados</span>
            </div>
          </div>
        </div>
      </div>
     
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="/js/plugins/chart.js"></script>
    <script type="text/javascript">
      var data = {
      	labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio"],
      	datasets: [
      		{
      			label: "Meu primiro dataset",
      			fillColor: "rgba(220,220,220,0.2)",
      			strokeColor: "rgba(220,220,220,1)",
      			pointColor: "rgba(220,220,220,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(220,220,220,1)",
      			data: [165, 159, 180, 300, 156]
      		},
      		{
      			label: "Meu segundo dataset",
      			fillColor: "rgba(151,187,205,0.2)",
      			strokeColor: "rgba(151,187,205,1)",
      			pointColor: "rgba(151,187,205,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(151,187,205,1)",
      			data: [128, 148, 140, 119, 186]
      		}
      	]
      };
      var data1 = {
      	labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio"],
      	datasets: [
      		{
      			label: "Meu primiro dataset",
      			fillColor: "rgba(220,220,220,0.2)",
      			strokeColor: "rgba(220,220,220,1)",
      			pointColor: "rgba(220,220,220,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(220,220,220,1)",
      			data: [65, 59, 80, 81, 56]
      		},
      		{
      			label: "Meu segundo dataset",
      			fillColor: "rgba(151,187,205,0.2)",
      			strokeColor: "rgba(151,187,205,1)",
      			pointColor: "rgba(151,187,205,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(151,187,205,1)",
      			data: [28, 48, 40, 19, 86]
      		}
      	]
      };
           
      var ctxl = $("#lineChartSites").get(0).getContext("2d");
      var lineChart = new Chart(ctxl).Line(data);

      var ctxb = $("#barChartDemo").get(0).getContext("2d");
      var barChart = new Chart(ctxb).Bar(data1);
    
    </script>
    
  </body>
</html>su